<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Input New Puppy Listing</title>
  </head>
  <body>
    <h1>Input New Puppy Listing</h1>
    <form method="post" action="/piglatinize">
      <p>Enter your phrase:</p>
      <textarea name="user_phrase"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
