<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Listing</title>
 </head>
 <body>

   <h1>Name: <%= @name %></h1>
   <h1>Breed: <%= @breed %></h1>
   <h1>Age: <%= @age %></h1>

 </body>
</html>
